
		<%= form_for @reminder, remote: true, html: { style: "display:inline" } do |f| %>
			<div class="modal-body">
			
				<ul class="errors"></ul>
			

				<%= f.hidden_field :member_id, :value => @reminder.member_id %>


			<div class="form-group">
				<%= f.label :title, class: "control-label" %>
				<%= f.text_field :title, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :description, class: "control-label" %>
				<%= f.text_area :description, class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= f.label :amount, class: 'control-label' %>
				<%= f.text_field :amount, class: 'form-control' %>
			</div>

			

			<div class="form_group">
				<%= f.label :date %>
				<div class="input-group date", data-provide="datepicker" data-date-format="yyyy/mm/dd">
					<%= f.text_field :date_notify, :value => Time.now.strftime('%Y/%m/%d') %>
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-th"></span>
					</div>
				</div>
			</div>
			<div>
			
			<div class="modal-footer">
				<%= f.submit "Add Reminder", class: 'btn sign-up' %>
				<%= link_to "Cancel", '#', class: 'btn', data: {dismiss: "modal"} %>
			</div>


		<% end %>
