<div class="row">
	<div class="col col-md-6 ">
		<%= form_for(@reminder) do |f| %>
			
			<% if @reminder.errors.any? %>
				<div id="error_explanation">
					<div class="alert alert-danger">
						The form contains <%= pluralize(@reminder.errors.count, "error") %>.
					</div>
					<ul>
						<% @reminder.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<div class="form-group">
				<%= f.label :title, class: "control-label" %>
				<%= f.text_field :title, class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= f.label :amount, class: 'control-label' %>
				<%= f.text_field :amount, class: 'form-control' %>
			</div>

			<div>
				<%= f.label :description, class: "control-label" %>
				<%= f.text_field :description, class: 'form-control' %>
			</div>

			<div class="form_group">
				<%= f.label :date %>
				<div class="input-group date", data-provide="datepicker" data-date-format="yyyy/mm/dd">
					<%= f.text_field :date_notify %>
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-th"></span>
					</div>
				</div>
			</div>
			


			<div>
				<%= f.submit "Submit", class: 'btn btn-primary' %>
			</div>

		<% end %>
	</div>
</div>