<% @incomes.each do |income| %>
	<tr>
		<td><%= income.title %></td>
		<td><%= income.description %></td>
		<td><%= income.date %></td>
		<td><%= income.amount %></td>
		<td><%= link_to "Edit", edit_income_path(income),
						remote: true, class: 'btn btn-default' %></td>
		<td><%= link_to "Delete", income_delete_path(income), remote: true, class: 'btn btn-danger'  %></td>
	</tr>
<% end %>