<% provide(:title, "Income") %>
<div class="container">
	<div class="income table-margin">
	<br/>
		<%= link_to "Add Income", new_income_path,
				remote: true, class: 'btn sign-up' %>
	<br/>
	<div id="pie" style="height: 400px"></div>
		<table id="income" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<!-- <th>Description</th> -->
					<th>Tags</th>
					<th>Amount</th>
					<th>Date</th>
					<th colspan="2">Action</th>
				</tr>
			</thead>

			<tbody class="income-index">
				<% @incomes.each do |income| %>
				<tr id="income-<%= income.id %>">
					<td><%= income.title %></td>
					<!-- <td><%= income.description %></td> -->
					<td><%= income.category.title %></td>
					<td class="incomes-text" >+ <%= number_with_delimiter(income.amount, :delimiter => ',') %></td>
					<td><%= income.date %></td>
					<td><%= link_to "Edit", edit_income_path(income),
									remote: true, class: 'btn btn-default' %></td>
					<td><%= link_to "Delete", income_delete_path(income), remote: true, class: 'btn btn-danger'  %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	
	</div>
</div>
<script type="text/javascript">
       	var data=[];
       </script>
<% Income.select('category_id, sum(amount) as total').group('category_id').order('total desc').each do |income|  %>
      
       <%    category = Category.find(income.category_id)  %>
       
        <script type="text/javascript">
        
        var title = "hait".toString();

        	data.push("["+title, "<%= income.total%>]");
        </script>  

   <% end %>

    
<div id="income-modal" class="modal fade"></div>

<script type="text/javascript">
// .replace('data-','')
alert(data);
var bar = data.toString();
alert(bar);


for(var i = 0; i < bar.length; i++) {
    var bar= bar[i];
    for(var j = 0; j < bar.length; j++) {
        alert("bar" + i + "][" + j + "] = " + bar[j]);
    }
}
	Highcharts.chart('pie', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: 'Contents of Highsoft\'s weekly fruit delivery'
    },
    subtitle: {
        text: '3D donut in Highcharts'
    },
    plotOptions: {
        pie: {
            innerSize: 100,
            depth: 45
        }
    },

    series: [{
        name: 'Delivered amount',
        data: [[]]
    }]
});

</script>

