
		<%= form_for @expense, remote: true, html: { style: "display:inline" } do |f| %>
			<div class="modal-body">
				<ul class="errors"></ul>
			

				<%= f.hidden_field :member_id, :value => @expense.member_id %>
			
				<div class="form-group">
					<%= f.label :title, class: 'control-label' %>
					<%= f.text_field :title, class: 'form-control' %>
				</div>

				<div class="form-group">
					<%= f.label :description, class: 'control-label' %>
					<%= f.text_field :description, class: 'form-control' %>
				</div>

				<div class="form-group col-md-6">
					<%= f.label :amount, class: 'control-label' %>
					<%= f.text_field :amount, class: 'form-control' %>
				</div>
				<div class="form-group col-md-6">
					<%= f.label :category_id, class: 'control-label' %>
					<%= f.collection_select :category_id, Category.all, :id, :title , class: 'form-control' %>
				</div>

				<div class="form-group">
					<%= f.label :date , class: 'control-label' %>
				</div>


				<div class="form-group">
					<div class="input-group date", data-provide="datepicker" data-date-format="yyyy/mm/dd">
							<%= f.text_field :date,:value => Time.now.strftime('%Y/%m/%d')  %>
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"></span>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<%= f.submit "Add Expense", class: 'btn sign-up' %>
				<%= link_to "Cancel", '#', class: 'btn', data: { dismiss: 'modal' } %>
			</div>
		<% end %>
	