<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <meta charset="utf-8">
     <link rel='icon' href='/assets/favicon.ico?v=5' type='image/x-icon' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <script src="http://code.highcharts.com/highcharts.js"></script> -->
<!-- <script src="https://code.highcharts.com/highcharts-3d.js"></script> -->
<!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->

    </head>

  <%= render 'layouts/shim' %>
  <!-- Including Highcharts and Framework -->
<!-- <body>

		<div class="container">
				<%#= render 'layouts/header' %>

				<%# flash.each do |message_type, message| %>
					<div class="alert alert-<%#= message_type %>"><%#= message %></div>
				<%# end %>
				<%#= yield %>	

				<%#= render 'layouts/footer' %>
		</div>

</body> -->
<body id="page-top" <%= "data-no-turbolinks='true'".html_safe if controller_name=="members" && action_name=="show" %>>
<%= render 'layouts/header' %>	
<% if logged_in? %>
	<main class="cd-main-content">
		<nav class="cd-side-nav">
			<ul>
				<li class="cd-label">Main</li>
				<li><%= link_to "Dashboard", root_path %></li>
				<li class="has-children overview">
					<a href="#">Reports</a>
					
					<ul>
						<li><%= link_to "Expense", expenses_path, class: "btn btn-small sign-up" %></li>
						<li><%= link_to "Income", incomes_path, class: "btn btn-small sign-up" %></li>
					</ul>
				</li>
				<li class="has-children overview">
					<a href="#">Reminders</a>
					<ul>
						<li><%= link_to "View Reminders", reminders_path, class: "btn btn-small sign-up" %></li>
						<li><%= link_to "Add Reminder",new_reminder_path(@reminder),remote: true, class: "btn btn-small sign-up" %></li>
					</ul>
				</li>
				<li class="has-children overview">
					<%= link_to "TAGS", categories_path%>
					<ul>
						<% current_member.categories.each do |category| %>
							<li><%= link_to category.title, category_path(category.id)%></li>
						<% end %>
						<li><%= link_to "Add Tags",  new_category_path,remote: true, class: "btn btn-small sign-up" %></li>
					</ul>
				</li>
				<li class="has-children notifications active">
					<a href="#0">Notifications<span class="count">3</span></a>
					
					<ul>
						<li><a href="#0">All Notifications</a></li>
						<li><a href="#0">Friends</a></li>
						<li><a href="#0">Other</a></li>
					</ul>
				</li>

				<li class="has-children comments">
					<a href="#0">Comments</a>
					
					<ul>
						<li><a href="#0">All Comments</a></li>
						<li><a href="#0">Edit Comment</a></li>
						<li><a href="#0">Delete Comment</a></li>
					</ul>
				</li>
			</ul>

			<ul>
				<li class="cd-label">Secondary</li>
				<li class="has-children users">
					<a href="#0">Contacts</a>
					
					<ul>
						<li><%= link_to "Add Contact", members_path %></li>
						<li><a href="#0">Edit User</a></li>
						<li><a href="#0">Add User</a></li>
					</ul>
				</li>
				<li class="has-children bookmarks">
					<a href="#0">Bookmarks</a>
					
					<ul>
						<li><a href="#0">All Bookmarks</a></li>
						<li><a href="#0">Edit Bookmark</a></li>
						<li><a href="#0">Import Bookmark</a></li>
					</ul>
				</li>
				<li class="has-children images">
					<a href="#0">Images</a>
					
					<ul>
						<li><a href="#0">All Images</a></li>
						<li><a href="#0">Edit Image</a></li>
					</ul>
				</li>

				<li class="has-children users">
					<a href="#0">Users</a>
					
					<ul>
						<li><%= link_to "All Users", members_path %></li>
						<li><a href="#0">Edit User</a></li>
						<li><a href="#0">Add User</a></li>
					</ul>
				</li>
			</ul>

			<ul>
				<li class="cd-label">Action</li>
				<li class="action-btn"><a href="#0">+ Button</a></li>
			</ul>
		</nav>
		<% end %>


		<div class="content-wrapper">
				
		<% if notice %>
			<div id="notice_wrapper">
				<p class="notice"><%= notice %></p>
			</div>
		<% elsif alert %>
			<div id="notice_wrapper">
			<p class="alert"><%= alert %></p>
			</div>
		<% end %>
		
			<% flash.each do |message_type, message| %>
				<div class="alert-<%= message_type %>">
					<% if message %>
						<div id="notice_wrapper">
							<p class="notice"><%= message %></p>
						</div>
					<% end %>
				</div>
			<% end %>
		<%= yield %>

<div id="expense-modal" class="modal fade"></div>
<div id="reminder-modal" class="modal fade"></div>
<div id="income-modal" class="modal fade"></div>
<div id="category-modal" class="modal fade"></div>
		<%if !logged_in? %>
		<%= render 'layouts/footer' %>
		<% end %>
		</div> <!-- .content-wrapper -->
		
	</main> <!-- .cd-main-content -->








			
	



	
  

<body>
 

 
</body>
</html>